@import 'ant-design-vue/dist/antd.less';
@import '@/less/var.less';

#app {
  width: 100%;
  height: 100%;
}

.unvue-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  .unvue-header {
    display: flex;
    align-items: center;
    line-height: unset;
    height: @layout-header-height;
    padding: 0 8px;
    transition: all 0.2s;
  }
  .unvue-header-light {
    background: #fff;
  }
  .unvue-header-dark {
    color: #fff;
  }
  .unvue-layout-sider-dark {
    color: #fff;
  }
  .unvue-content {
    padding: 8px;
  }
}
